<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title><%= title %></title>

	<link href="css/intro.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Ek+Mukta|Orbitron|Russo+One|Shojumaru|Bungee+Shade" rel="stylesheet">
</head>

<body>
	<div id="intro">
    <div class="container">
      <h1>Please Pick Your Character</h1>
      <div class="character-box">
				<div class="class-title">
					<p>Swordsman</p>
				</div>
				<div class="class-title">
					<p>Wizard</p>
				</div>
				<div class="class-title">
					<p>Archer</p>
				</div>
        <div class="image-box">
					<div class="character-img-box" id="swordsman">
						<img src="assets/characters/swordman/male/swordsman.gif" alt="Swordsman Image">
					</div>
					<div class="character-img-box" id="wizard">
						<img src="assets/characters/wizard/male/wizard.gif" alt="Wizard Image">
					</div>
					<div class="character-img-box" id="archer">
						<img src="assets/characters/archer/male/archer.gif" alt="Archer Image" onclick="">
					</div>
        </div>
      </div>
			<div class="description-box">
				<div class="character-description-box">
					<img src="assets/logo/swordman/swordsman.png" alt="Swordsman Logo">	<p>> STR</p>
				</div>
				<div class="character-description-box">
					<img src="assets/logo/wizard/wizard.png" alt="Wizard Logo">	<p>> INT</p>
				</div>
				<div class="character-description-box">
					<img src="assets/logo/archer/archer.png" alt="Archer Logo">	<p>> DEX</p>
				</div>
			</div>
			<div class="start-button">
				<form class="" action="/className" method="post">
					<input type="hidden" name="job" id="classInput" value="">
					<input type="submit" value="Start">
				</form>
			</div>
    </div>
  </div>


	<script>
	let swordsman = document.getElementById('swordsman')
	let wizard = document.getElementById('wizard')
	let archer = document.getElementById('archer')
	let inputClass = document.getElementById('classInput')

	swordsman.addEventListener("click", function(){
		inputClass.value = "Swordsman"
	});
	wizard.addEventListener("click", function(){
		inputClass.value = "Wizard"
	});
	archer.addEventListener("click", function(){
		inputClass.value = "Archer"
	});

	</script>
</body>

</html>
