<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title><%= title %></title>

	<link href="css/main.css" rel="stylesheet">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Ek+Mukta|Orbitron|Russo+One|Shojumaru|Bungee+Shade" rel="stylesheet">
</head>

<body>
  <div class="status-box">
    <div class="status-title">
      <p>Status</p>
    </div>
    <div class="status">

    </div>
    <div class="status-description">

    </div>
  </div>
  <div class="navbar">
    <div class="navbar-title">
      <p>Command Bar</p>
    </div>
    <div class="navbox">

    </div>
  </div>
  <div class="footer">
    <div class="rank-tree">
      <div class="rank">
        <div class="rank-title">
          <p>Basic</p>
        </div>
      </div>
      <div class="rank">
        <div class="rank-title">
          <p>Rank 1</p>
        </div>
        <div class="split-rank">

        </div>
        <div class="split-rank">

        </div>
      </div>
      <div class="rank">
        <div class="rank-title">
          <p>Rank 2</p>
        </div>
        <div class="split-rank">

        </div>
        <div class="split-rank">

        </div>
      </div>
      <div class="rank">
        <div class="rank-title">
          <p>Rank 3</p>
        </div>
        <div class="split-rank">

        </div>
        <div class="split-rank">

        </div>
      </div>
    </div>
    <div class="result-box">
      <div class="result-title">
        <p>Result</p>
      </div>
    </div>
  </div>
</body>

</html>
