<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title><%= title %></title>

	<link href="css/main.css" rel="stylesheet">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Ek+Mukta|Orbitron|Russo+One|Shojumaru|Bungee+Shade" rel="stylesheet">
</head>

<body>
  <div class="status-box">
    <div class="status-title">
      <p>Status</p>
    </div>
    <div class="status">
      <div class="status-bar">
        <p>Str: </p>
        <div class="status-bar-box">
          <div class="present-status">
            <p>201</p>
          </div>
          <div class="up-status">
            <div class="arrow-right"></div>
          </div>
          <div class="limit-status">
            <p>2</p>
          </div>
        </div>
      </div>
      <div class="status-bar">
        <p>Con: </p>
        <div class="status-bar-box">
          <div class="present-status">
            <p>77</p>
          </div>
          <div class="up-status">
            <div class="arrow-right"></div>
          </div>
          <div class="limit-status">
            <p>2</p>
          </div>
        </div>
      </div>
      <div class="status-bar">
        <p>Int: </p>
        <div class="status-bar-box">
          <div class="present-status">
            <p>64</p>
          </div>
          <div class="up-status">
            <div class="arrow-right"></div>
          </div>
          <div class="limit-status">
            <p>2</p>
          </div>
        </div>
      </div>
      <div class="status-bar">
        <p>Spr: </p>
        <div class="status-bar-box">
          <div class="present-status">
            <p>241</p>
          </div>
          <div class="up-status">
            <div class="arrow-right"></div>
          </div>
          <div class="limit-status">
            <p>2</p>
          </div>
        </div>
      </div>
      <div class="status-bar">
        <p>Dex: </p>
        <div class="status-bar-box">
          <div class="present-status">
            <p>124</p>
          </div>
          <div class="up-status">
            <div class="arrow-right"></div>
          </div>
          <div class="limit-status">
            <p>2</p>
          </div>
        </div>
      </div>
      <div class="status-command-box">
        <button type="button" name="button" class="btn">Submit</button>
        <button type="button" name="button" class="btn">Reset</button>
      </div>
    </div>
    <div class="status-description">

    </div>
  </div>
  <div class="navbar">
    <div class="navbar-title">
      <p>Command Bar</p>
    </div>
    <div class="navbox">

    </div>
  </div>
  <div class="footer">
    <div class="rank-tree">
      <div class="rank">
        <div class="rank-title">
          <p>Basic</p>
        </div>
        <div class="rank-image">
          <img src="assets/characters/swordman/male/swordsman.gif" alt="Swordsman Image">
        </div>
      </div>
      <div class="rank">
        <div class="rank-title">
          <p>Rank 1</p>
        </div>
        <div class="split-rank">
          <img src="assets/characters/swordman/male/highlander.gif" alt="Higlander Image">
        </div>
        <div class="split-rank">
          <img src="assets/characters/swordman/male/peltasta.gif" alt="Peltasta Image">
        </div>
      </div>
      <div class="rank">
        <div class="rank-title">
          <p>Rank 2</p>
        </div>
        <div class="split-rank">
          <img src="assets/characters/swordman/male/barbarian.gif" alt="Barbarian Image">
        </div>
        <div class="split-rank">
          <img src="assets/characters/swordman/male/hoplite.gif" alt="Hoplite Image">
        </div>
      </div>
      <div class="rank">
        <div class="rank-title">
          <p>Rank 3</p>
        </div>
        <div class="split-rank">
          <img src="assets/characters/swordman/male/corsair.gif" alt="Corsair Image">
        </div>
        <div class="split-rank">
          <img src="assets/characters/swordman/male/squire.gif" alt="Squire Image">
        </div>
      </div>
    </div>
    <div class="result-box">
      <div class="result-title">
        <p>Result</p>
      </div>
    </div>
  </div>
</body>

</html>
