html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Ek Mukta', sans-serif;
}

.footer {
  position: absolute;
  bottom: 0px;
  height: 38%;
  width: 100%;
}

.rank-tree {
  position: absolute;
  left: 3%;
  bottom: 5%;
  width: 75%;
  height: 100%;
}

.rank {
  display: inline-block;
  vertical-align: middle;
  border-top: 1px solid rgba(255,0,0,0.3);
  width: 24%;
  height: 100%;
  background-color: rgba(200,200,200,0.6);
  margin: 1px;
  float: left;
  text-align: center;
}

.rank-image{
  position: absolute;
  bottom: 15%;
  left: 8%;
}

.split-rank img{
  height: 90%;
}

.rank-title {
  width: 100%;
  height: 16%;
  background-color: rgba(60, 60, 60,0.6);
  margin: 2px;
  text-align: center;
}

.rank-title p{
  margin: 0;
  line-height: 52px;
  font-size: 26px;
  font-family: "shojumaru";
}

.split-rank {
  margin: 1px;
  width: 100%;
  height: 41%;
  border-top: 1px solid rgba(255,0,0,0.3);
}

.result-box {
  position: absolute;
  right: 2%;
  bottom: 5%;
  width: 22%;
  height: 100%;
  background-color: orange;
  margin: 1px;
  float: right;
}

.result-title {
  width: 100%;
  height: 16%;
  background-color: green;
  margin: 2px;
  text-align: center;
}

.result-title p {
  margin: 0;
  line-height: 52px;
  font-size: 26px;
  font-family: "shojumaru";
}

.navbar {
  position: absolute;
  right: 2%;
  top: 2%;
  width: 34%;
  height: 55%;
  background-color: rgba(255,0,0,0.5);
  margin: 1px;
}

.navbar-title {
  width: 98%;
  height: 10%;
  background-color: green;
  margin: 2px;
  text-align: left;
  padding-left: 2%;
}

.navbar-title p {
  margin: 0;
  line-height: 52px;
  font-size: 26px;
  font-family: "shojumaru";
}

.navbox {
  width: 98%;
  height: 90%;
  background-color: orange;
}

.status-box {
  position: absolute;
  left: 3%;
  top: 2%;
  width: 60%;
  height: 55%;
  background-color: rgba(166, 166, 166, 0.7);
}

.status {
  position: absolute;
  display: inline-block;
  width: 49%;
  height: 90%;
}

.status-bar{
  width: 98%;
  height: 15%;
  margin: 1px;
  margin-left: 6px;
}

.status-bar-box {
  position: relative;
  top: -49px;
  right: 0px;
  float: right;
  margin: 2px;
  padding: 5px 10px;
  width: 72%;
  background-color: rgba(166, 166, 166, 0.7);
  height: 70%;
}

.present-status {
  float: left;
  width: 55%;
  height: 95%;
  margin: 2px;
  text-align: center;
}

.up-status {
  float: left;
  width: 20%;
  height: 95%;
  margin: 2px;
  text-align: center;
}

.limit-status {
  float: left;
  width: 20%;
  height: 95%;
  margin: 2px;
  text-align: center;
}

.status-bar p {
  margin: 0;
  font-size: 26px;
  font-family: "russo one";
  line-height: 52px;
  padding-left: 15px;
}

.arrow-right {
  margin: auto;
  margin-top: 8px;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid green;
  cursor: pointer;
}

.status-description {
  float: right;
  display: inline-block;
  width: 49%;
  height: 90%;
}

.status-title {
  width: 98%;
  height: 10%;
  background-color: green;
  margin: 2px;
  text-align: left;
  padding-left: 2%;
}

.status-title p {
  margin: 0;
  line-height: 52px;
  font-size: 26px;
  font-family: "shojumaru";
}

.status-command-box {
  width: 97%;
  height: 15%;
  margin: 20px 10px;
  padding-left: 190px;
}

.btn{
  margin: 0px 10px;
  float: left;
  display: inline-block;
  height: 50%;
  width: 20%;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  font-family: "russo one";
    background: rgba(255, 0, 0, 0.5); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, rgba(255, 0, 0, 0.6), rgba(255, 255, 0, 0.8)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, rgba(255, 0, 0, 0.6), rgba(255, 255, 0, 0.8)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, rgba(255, 0, 0, 0.6), rgba(255, 255, 0, 0.8)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, rgba(255, 0, 0, 0.6), rgba(255, 255, 0, 0.8)); /* Standard syntax */
}

.btn:focus{
  outline: 0;
}
